{{ $gitEmail := promptString "What is your git email?" }}
{{ $gui := promptString "Is this a linux host with a GUI? " }}
{{ $setupBitwarden := promptString "Would you like to setup Bitwarden? " }}
{{ $atuinServer := promptString "atuinServer " }}

[data]
    gitEmail = {{ $gitEmail | quote }}
    gui = {{ $gui | quote }}
    setupBitwarden = {{ $setupBitwarden | quote }}
    atuinServer = {{ $atuinServer | quote }}
