foreground            #{{ .dracula.kitty.foreground }}
background            #{{ .dracula.kitty.background }}
selection_foreground  #{{ .dracula.kitty.selectionForeground }}
selection_background  #{{ .dracula.kitty.selectionBackground }}

url_color #{{ .dracula.kitty.urlColor }}

# black
color0  #{{ .dracula.kitty.color0 }}
color8  #{{ .dracula.kitty.color8 }}

# red
color1  #{{ .dracula.kitty.color1 }}
color9  #{{ .dracula.kitty.color9 }}

# green
color2  #{{ .dracula.kitty.color2 }}
color10 #{{ .dracula.kitty.color10 }}

# yellow
color3  #{{ .dracula.kitty.color3 }}
color11 #{{ .dracula.kitty.color11 }}

# blue
color4  #{{ .dracula.kitty.color4 }}
color12 #{{ .dracula.kitty.color12 }}

# magenta
color5  #{{ .dracula.kitty.color5 }}
color13 #{{ .dracula.kitty.color13 }}

# cyan
color6  #{{ .dracula.kitty.color6 }}
color14 #{{ .dracula.kitty.color14 }}

# white
color7  #{{ .dracula.kitty.color7 }}
color15 #{{ .dracula.kitty.color15 }}

# Cursor colors
cursor            #{{ .dracula.kitty.cursor }}
cursor_text_color #{{ .dracula.kitty.cursorTextColor }}

# Tab bar colors
active_tab_foreground   #{{ .dracula.kitty.activeTabForeground }}
active_tab_background   #{{ .dracula.kitty.activeTabBackground }}
inactive_tab_foreground #{{ .dracula.kitty.inactiveTabForeground }}
inactive_tab_background #{{ .dracula.kitty.inactiveTabBackground }}

# Marks
mark1_foreground #{{ .dracula.kitty.mark1Foreground }}
mark1_background #{{ .dracula.kitty.mark1Background }}

# Splits/Windows
active_border_color #{{ .dracula.kitty.activeBorderColor }}
inactive_border_color #{{ .dracula.kitty.inactiveBorderColor }}
