tap "homebrew/services"
tap "homebrew/command-not-found"
tap "homebrew/cask-fonts"
tap "hashicorp/tap"

brew "asdf"
brew "chezmoi"
brew "atuin"
brew "bat"
brew "bat-extras"
brew "bitwarden-cli"
brew "coreutils"
brew "cloudflared" 
brew "curl"
brew "eza"
brew "fclones"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "gnu-sed"
brew "jq"
brew "navi"
brew "neovim"
brew "notify"
brew "openssl"
brew "php"
# brew "pueue"
brew "rsync"
brew "readline"
brew "ripgrep"
brew "starship"
brew "sqlite"
brew "tcl-tk"
brew "tealdeer"
brew "trash-cli"
brew "hashicorp/tap/vault"
brew "envconsul"
brew "yazi"
brew "watchman"
brew "xz"
brew "zellij"
brew "zlib"
brew "zoxide"

{{ if eq .chezmoi.os "darwin" }}
tap "homebrew/cask-versions"
tap "FelixKratz/formulae"
tap "koekeishiya/formulae"

brew "borders", args: ["HEAD"]
brew "fyabai", args: ["HEAD"]
brew "mas"
brew "sketchybar", args: ["HEAD"]
brew "skhd", args: ["HEAD"]
cask "kitty", args: {zap: true}
# cask "libreoffice", args: {zap: true}
cask "logi-options-plus", args: {zap: true}
# cask "obsidian", args: {zap: true}
cask "visual-studio-code", args: {zap: true}
# cask "vivaldi", args: {zap: true}
cask "alfred", args: {zap: true}
cask "authy", args: {zap: true}
cask "betterdiscord-installer", args: {zap: true}
# cask "caffeine", args: {zap: true}
cask "discord", args: {zap: true}
cask "espanso", args: {zap: true}
cask "firefox-developer-edition", args: {zap: true}
cask "chromium", args: {zap: true, no_quarantine: true}

mas "Bitwarden", id: 1352778147
mas "PDF Expert", id: 1055273043
mas "Spark", id: 1176895641
{{ end }}

cask "font-fantasque-sans-mono-nerd-font"
cask "font-ibm-plex-mono"
cask "font-input"
cask "font-iosevka-nerd-font"
cask "font-iosevka-term-nerd-font"
cask "font-mononoki-nerd-font"
cask "font-symbols-only-nerd-font"
cask "font-victor-mono-nerd-font"

{{ if (or (eq .chezmoi.config.data.gui "true") (eq .chezmoi.os "darwin")) }}
vscode "4ops.packer"
# vscode "aaron-bond.better-comments"
vscode "alefragnani.bookmarks"
vscode "beardedbear.beardedicons"
vscode "bierner.markdown-mermaid"
# vscode "bobmagicii.dashyeah"
# vscode "canadaduane.vscode-kmonad"
vscode "charliermarsh.ruff"
# vscode "christian-kohler.path-intellisense"
vscode "ionutvmi.path-autocomplete"
vscode "dracula-theme.theme-dracula"
vscode "esbenp.prettier-vscode"
vscode "formulahendry.code-runner"
vscode "github.remotehub"
vscode "gruntfuggly.todo-tree"
vscode "hashicorp.terraform"
vscode "ibm.output-colorizer"
# vscode "imagio.vscode-dimmer-block"
vscode "ivhernandez.vscode-plist"
vscode "janisdd.vscode-edit-csv"
vscode "kamikillerto.vscode-colorize"
vscode "mechatroner.rainbow-csv"
vscode "mgesbert.python-path"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.python"
# vscode "ms-python.black-formatter"
vscode "ms-python.vscode-pylance"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode.remote-explorer"
vscode "ms-vscode.remote-repositories"
vscode "ms-vscode.remote-server"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "redhat.ansible"
vscode "redhat.vscode-yaml"
vscode "shd101wyy.markdown-preview-enhanced"
# vscode "sumneko.lua"
vscode "tamasfe.even-better-toml"
vscode "timonwong.shellcheck"
# vscode "tomoki1207.pdf"
# vscode "yzhang.markdown-all-in-one"
{{ end }}
